<ion-view view-title="Categorias">
  <ion-content class="padding has-header content-background-img" >

    <div class="list card" ng-if="results.length === 0" >
      <a class="item item-icon-left" ng-click="category('*/doces/*')">
        <i class="icon ion-icecream"></i>
        Doces
      </a>
      <a  class="item item-icon-left" ng-click="category('*/salgados/*')">
        <i class="icon ion-pizza"></i>
        Salgados
      </a>
      <a href="#" class="item item-icon-left" ng-click="category('*/vegan/*')">
        <i class="icon ion-soup-can"></i>
        Vegan
      </a>
<!--      <a href="#" class="item item-icon-left" ng-click="category('*/sucos/*')">
        <i class="icon ion-beer"></i>
        Sucos
      </a>-->
    </div>

    <div class="content" ng-if="results.length > 0" >
      <div class="list">
        <div  ng-repeat="result in results track by $index"  class="list2 condensed-space no-padding animate-blinds done"  ui-sref="veg.recipe({recipe:result._source})">
          <div class="card2 dark-bg in">
            <a class="item2 clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
              <h2>{{result._source.title}}</h2>
              <img src="{{result._source.image}}"/>
            </a>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
