<ion-view view-title="Vegetariando" hide-nav-bar="true">
  <ion-content class="content-background-img" >
    <button class="bar bar-item button icon ion-navicon" menu-toggle="left" ng-if="data.q.length==0">
    </button>
    <div class="content padding " ng-class="{'has-header has-expanded-header' : data.q.length==0}" >
      <form role="form" name="form" >
        <span class="item item-input" style="display: flex">
          <i class="icon ion-search placeholder-icon material-icons" style="padding-right: 30px;" ></i>
          <input type="search" placeholder="Search" ng-model="data.q" ng-change="search()">
          <button class="input-button button button-icon icon ion-close material-icons placeholder-icon"  ng-click="cleanSearch()" ng-if="data.q.length" >
          </button>
        </span>
      </form>
    </div>
    <div class="content" ng-if="results.length > 0" >
      <div class="list">
        <div  ng-repeat="result in results track by $index"  class="list2 condensed-space no-padding animate-blinds done"  ui-sref="veg.recipe({recipe:result._source})">
          <div class="card2 dark-bg in">
            <a class="item2 clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
              <h2>{{result._source.title}}</h2>
              <img src="{{result._source.image}}"/>
            </a>
          </div>
        </div>
      </div>
      <div class="content" ng-if="results.length > 0">
      </div>
    </div>
  </ion-content>
</ion-view>
