<ion-side-menus>
  <ion-side-menu-content enable-menu-with-back-views="true">
    <ion-nav-bar class="bar-royal" align-title="left">
      <ion-nav-buttons side="left">
        <button class="button icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="content"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar  class="bar bar-header bar-royal" >
      <h5 class="title header-item">Menu</h5>
    </ion-header-bar>
    <ion-content class="stable-bg has-header">
      <ion-list>
        <ion-item menu-close ui-sref="veg.dash">
          Pagina Inicial
        </ion-item>
        <ion-item menu-close ui-sref="veg.category">
          Categorias
        </ion-item>
        </ion-item>
        <ion-item menu-close ui-sref="veg.about">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>