<ion-view view-title="Categorias">
  <ion-content class="padding has-header content-background-img" >
    <div class="card" ng-if="recipe">
      <div class="item item-body">
        <h4 class="BOLD">{{recipe.title}}</h4>
        <h6>Site original: <a  href="{{recipe.url}}" target="_blank">{{recipe.site_name}}</a></h6>
        <p class="item" ng-bind-html="recipe.postAsHtml"></p>
      </div>
    </div>
  </ion-content>
</ion-view>
