/* Empty. Add your own CSS if you like */
.ng-binding img {
   width: 100%;
   height: 100%;
}
.bar.bar-header {
   background: rgba(255,255,255,.10);
   border-bottom-width: 0;
}

.bar.bar-header h1 {
   color: black !important;
}

.spinner svg {
   width: 28px;
   height: 28px;
   stroke: #444;
   fill: #444;
}


.platform-ios.platform-cordova:not(.fullscreen) .has-header {
   top:0px;
}
.ng-binding .saboxplugin-gravatar img {
   width: inherit;
}

/* default screen, non-retina */
.content-background-img {
   background-image: url("../img/backgroud/backgroud_psrrs1_c_scale,w_564.jpg");
   background-position: center;
   background-size: cover ;
}

@media only screen and (max-width: 200px) {
   /* Small screen, non-retina */
   .content-background-img {
      background-image: url("../img/backgroud/backgroud_psrrs1_c_scale,w_200.jpg");
   }
}
@media only screen and (min-resolution: 2dppx) and (max-width: 312px) {
   /* Small screen, retina */
   .content-background-img { background-image: url("../img/backgroud/backgroud_psrrs1_c_scale,w_312.jpg"); }
}
@media only screen and (min-width: 313px) and (max-width: 397px) {
   /* Medium screen, non-retina */
   .content-background-img { background-image: url("../img/backgroud/backgroud_psrrs1_c_scale,w_397.jpg"); }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 398px) and (max-width: 471px) {
   /* Medium screen, retina */
   .content-background-img { background-image: url("../img/backgroud/backgroud_psrrs1_c_scale,w_471.jpg"); }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 471px) and (max-width: 540px) {
   /* Large screen, retina */
   .content-background-img { background-image: url("../img/backgroud/backgroud_psrrs1_c_scale,w_540.jpg"); }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 541px) {
   /* Large screen, retina */
   .content-background-img { background-image: url("../img/backgroud/backgroud_psrrs1_c_scale,w_564.jpg"); }
}



/*Images Card*/
.list2.condensed-space>.card, .list2.condensed-space>.item2 {
   margin: 0 0 2px;
}

.list2 .item2.item-bg-image {
   min-height: 180px;
   opacity: 1;
}

.list2 .item2.item-bg-image>img {
   height: 100%;
   left: 0;
   max-width: initial;
   /*opacity: .65;*/
   /*filter: alpha(opacity=65);*/
   position: absolute;
   bottom: 0;
   width: 100%;
   z-index: 0;
}
.card2 img {
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
   display: block;
   max-width: 100%;
   max-height: initial;
   position: static;
}
.list2 .item2.item-bg-image h2{
   margin: 0 0 2px 0;
   font-size: 24px;
   color: #fff;
   font-weight: 700;
   position: relative;
   text-shadow: 0 0 5px rgba(0,0,0,.95);
   z-index: 1;
   line-height: 32px;
}

.list2 .item2.item-bg-image p {
   color: #fff;
   font-size: 17px;
   position: relative;
   text-shadow: 0 0 4px rgba(0,0,0,.95);
   z-index: 1;
}

.card2.has-mask-reverse, .item2.has-mask-reverse {
   content: '';
   background: -webkit-linear-gradient(top,rgba(0,0,0,.6) 0,transparent 100%);
   height: 100%;
   left: 0;
   /*position: absolute;*/
   top: 0;
   z-index: 0;
   width: 100%;
}
.item2 {
   border-color: #ddd;
   background-color: #fff;
   color: #444;
   position: relative;
   z-index: 2;
   display: block;
   margin: -1px;
   padding: 16px;
   border-width: 1px;
   border-style: solid;
   font-size: 16px;
}